@font-face {
    font-family: "BeaufortforLOL-Bold";
    src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot");
    src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold") format("svg");
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: BeaufortforLOL-Bold, Arial, sans-serif;
}

body {
    color: #fff;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    background-color: #000;
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

#logo {
    float: left; /* обтекание логотипа */
}

#logo a {
    display: block;
    margin: 5px 30px 5px;
}

article {
    background-color: #1a1a1a;
    flex: auto;
    padding: 1em;
}

header,
footer {
    background-color: #040115;
    height: 90px;
}

.license {
    display: inline-flex;
    float: right;
    margin: 35px;
}


.license a img {
    width: 20px;
    margin: 0 0 0 10px;
}

.hero-history, .hero-biography {
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}