@font-face {
    font-family: "BeaufortforLOL-Bold";
    src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot");
    src: url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/12420e8c141ca7c3dff41de2d59df13e.svg#BeaufortforLOL-Bold") format("svg");
}

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: BeaufortforLOL-Bold, Arial, sans-serif;
}

body {
    color: #fff;
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    background-color: #1A1A1A;
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
}

#logo {
    float: left; /* обтекание логотипа */
}

#logo a {
    display: block;
    margin: 5px 30px 5px;
}

article {
    background-color: #1a1a1a;
    flex: auto;
    padding: 1em;
}

header,
footer {
    background-color: #040115;
    height: 90px;

}

.license {
    display: inline-flex;
    float: right;
    margin: 35px;
}


.license a img {
    width: 20px;
    margin: 0 0 0 10px;
}

/*Страница с результатом поиска*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #C4B998;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#query {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    width: 200px;
}

button {
    font-family: "BeaufortforLOL-Bold";
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    background-color: #616161;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#results {
    margin-top: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


/*Вселенные*/

.discovery-img {
    width: 300px;
    margin: 20px auto;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.discovery-img:hover {
    transform: scale(1.05);
}

.discovery-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
