* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image {
    position: relative;
    text-align: center;
}

.hero-image img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.hero-description {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
    border: 1px solid #e6e6e6;
    max-width: 800px;
    max-height: 300px;
    /*добавим CSS-анимацию*/
    animation: slide-down 0.5s ease-in-out forwards;
}

@keyframes slide-down {
    from {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -100%);
        opacity: 1;
    }
}

.hero-description h1 {
    font-size: clamp(16px, 4vw, 60px);
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}

.hero-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.hero-role, .hero-difficulty {
    flex-basis: 45%;
}

.hero-abilities {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
}

.abilities-wrapper {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
}

.ability-icon {
    margin: 0.5vw 0;
    width: fit-content;
    height: auto;
    border: 1px solid #e6e6e6;
    transition: transform 0.3s ease-in-out;
}

.ability-icon:hover {
    transform: scale(1.1)
}


.ability-icon img {
  display: block;
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.ability-description {
    text-align: center;
    max-width: 400px;
}

.ability-info {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    backdrop-filter: blur(25px);
    border: 1px solid #e6e6e6;
    text-align: justify;
    padding: 1vw;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.ability-icon:hover + .ability-info {
    visibility: visible;
    opacity: 1;
    animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
    from {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/* MEDIA */

@media screen and (max-width: 768px) {
    /* Добавлено */
    .hero-description {
        display: none;
    }

    .abilities-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        top: 30%;
    }
}

@media screen and (min-width: 1600px) {
    .hero-image {
        text-align: center;
    }

    .hero-abilities {
        position: absolute;
        left: auto;
        top: 10%;
    }

    body {
        overflow: hidden;
    }
}