* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-body {
    background-image: url("../img/darius/Darius_0.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-image {
    position: relative;
    text-align: center;
}

.hero-image img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.hero-description {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    color: #C4B998;
    border: 1px solid #D0A85C;
    max-width: 800px;
    max-height: 300px;
    /*добавим CSS-анимацию*/
    animation: slide-down 0.8s ease-in-out forwards;
}

@keyframes slide-down {
    from {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -100%);
        opacity: 1;
    }
}

.hero-description h1 {
    font-size: clamp(16px, 4vw, 60px);
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
    color: #D0A85C;
}

.hero-info {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

.hero-role, .hero-difficulty {
    flex-basis: 45%;
}

.hero-abilities {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
}

.hero-abilities h2 {
    display: none;
}

.abilities-wrapper {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 100%;
}

.ability-icon {
    margin: 0.5vw 0;
    width: fit-content;
    height: auto;
    border: 1px solid #D0A85C;
    transition: transform 0.3s ease-in-out;
}

.ability-icon:hover {
    transform: scale(1.1)
}


.ability-icon img {
    display: block;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.ability-description {
    text-align: left;
    max-width: 400px;
}

.ability-name {
    text-align: center;
}

.ability-info {
    visibility: hidden;
    color: #C4B998;
    opacity: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 1);
    backdrop-filter: blur(25px);
    border: 1px solid #D0A85C;
    text-align: justify;
    padding: 1vw;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.ability-icon:hover + .ability-info {
    visibility: visible;
    opacity: 1;
    animation: slide-up 0.5s ease-in-out forwards;
}

@keyframes slide-up {
    from {
        transform: translate(-50%, -150%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

/*ИСТОРИЯ и БИОГРАФИЯ*/


.hero-history, .hero-biography, .hero-discovery, .hero-related {
    position: relative;
    margin-top: 5%;
    font-size: 18px;
    line-height: 28px;
    background-color: #1A1A1A;
    /*font-weight: 700;*/
    color: #C4B998;
    text-align: justify;
}

.hero-history h2,
.hero-biography h2,
.hero-discovery h2,
.hero-related h2 {
    color: #D0A85C;
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
    text-transform: uppercase;
    border-top: 2px solid #C4B998;
    border-bottom: 2px solid #C4B998;
    padding: 10px 0;
    margin-bottom: 40px;
}

.hero-discovery .block,
.hero-related .block {
    background-image: url("../img/img.png");
    padding: 10px;
}

.read-more-btn {
    font-family: BeaufortforLOL-Bold, Arial, sans-serif;
    background: none;
    border: none;
    color: #D0A85C;
    text-decoration: underline;
    cursor: pointer;
    font-size: 22px;
}


/* MEDIA */

@media screen and (max-width: 768px) {
    /* Добавлено */
    .hero-description {
        display: none;
    }

    .hero-abilities h2 {
        display: none;
    }

    .abilities-wrapper {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        top: 30%;
    }

}

@media screen and (min-width: 1600px) {
    .hero-image {
        text-align: center;
    }

    .hero-abilities {
        position: absolute;
        left: auto;
        top: 10%;
    }

    html, body {
        overflow-x: hidden;
    }
}