* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image {
    position: relative;
    text-align: center;
}

.hero-image img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

.hero-description {
    position: absolute;
    /*top: 80%;*/
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vw;
    color: #fff;
    border: 1px solid #e6e6e6;
}

.hero-description h1 {
    font-size: 4vw;
    text-align: center;
    font-style: italic;
    text-transform: uppercase;
}

.hero-info {
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    flex-wrap: wrap;
}

.hero-role, .hero-difficulty {
    flex-basis: 45%;
}

.hero-abilities {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 80%; /* Добавлено */
    height: 80%; /* Добавлено */
}

.abilities-wrapper {
    position: absolute; /* Добавлено */
    left: 0; /* Добавлено */
    top: 10%; /* Добавлено */
    width: 100%; /* Добавлено */
    height: 100%; /* Добавлено */
}

.ability-icon {
    margin: 0.5vw 0;
    width: 100%; /* Добавлено */
    height: auto; /* Добавлено */
}

.ability-icon img {
    object-fit: contain;
}

.ability-description {
    text-align: center;
}

.ability-info {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
    backdrop-filter: blur(25px);
    color: #C4B998;
    text-align: justify;
    padding: 1vw;
    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.ability:hover .ability-info {
    visibility: visible;
    opacity: 1;
}

.hero-history, .hero-biography {
    margin-top: 50px;
    background-color: #f2f2f2;
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
